*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

}

body{
    font-family: 'Lato', sans-serif;

}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,#BEF0CBff , #F6F7C1ff);

}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%  );
    padding: 20px 40px;
    background-color: #ffffff09; ------
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px;
    z-index: 2;
}
.signup h1{
    font-size: 2.5rem;
    color: #212121;
}

.signup p{
    font-size: 0.9rem;
    color: #555;
}

.signup-body{
    margin: 20px 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border:2px solid #cccc ;
    border-radius: 4px; 
    font-size: 1rem;
    margin-top: 4px;

}

/* .signup-body p input[type="submit"]{
    background-color: #3498de;
} */

#submit{
    width: 50%;
    height: 2rem;
    margin-left: 5rem;
    background-color: #C1AEFC;
    border: none;
    color: white;
    cursor: pointer;
}

#submit:hover{
    background-color: #1a4869;
}
.signup-footer p{
    color: #555;
    text-align: center;
}
.signup-footer p a{
    text-decoration: none;
    color: #567189;
    font-size: 1rem;
    
}
.circle{
    width: 200px;
    height: 200px;
    /* background-color: red; */
    border-radius: 100px;
    background: linear-gradient(to  right, #ffffffaa , #ffffff);
    position:absolute;
}

.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}